page-login {}

    .titulo{
        font-family: 'Cabin Sketch', cursive;
        text-align: center;
        color: #08AE9E;
        font-size: 4em;
    }

    .boton{
        background: #08AE9E;
        width: 70%;
    }

    .login-inputs{
        color: #E91E63;
    }


