page-login {

    .login-bg{
      /*  background-image: url('../assets/img/fondo.PNG');*/
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
    }
    .login-main{
            display: flex;
            height: 100%;
            flex-direction: column;        
        }

        .login-inputs{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        
    }

}
    

