page-register {}

 .titulo{
        font-family: 'Cabin Sketch', cursive;
        text-align: center;
        color: "secondary";
        font-size: 4em;
    }

.btn{
        background: #08AE9E;
        width: 70%;
    }
