<div class= "card" (click) = "mascotaClick()">
    <ion-card>      
        <ion-item>
            <ion-avatar item-left>
                <img width="40" height="40" src="{{mascota.imagen}}" class="img-brochure">
            </ion-avatar>            
            <h1>Nombre: {{mascota.nombre}}</p>
            <p>Edad: {{mascota.edad}}</p>
            <p>Raza: {{mascota.raza}}</p>
            <p>Tamaño: {{mascota.tamanio}}</p>
        </ion-item>
    </ion-card>
</div>

<!--<div class="card" (click) = "movieClick()">
    <img src="{{movie.image}}">
        <div class="content">
            <h3>{{movie.nombre}}</h3>-->
            <!--*ngIf = "movie.duration es igual a decir movie.duracion != null. Tammbien sirve
            para ocultar y mostrar elementos"-->
            <!--<p *ngIf = "movie.duracion">{{movie.duracion | duracion}}</p> 
            <p>{{movie.fecha | date:'yMd'}}</p>
        </div>
</div>-->